.actions {
  display: flex;
  align-items: center;
  column-gap: 20px;

  &__divider {
    display: block;
    height: 25px;
    width: 2px;
    background: rgba(0, 0, 0, 0.41);
  }
  
  img {
    cursor: pointer;
    transition: all 0.3s ease 0s;

    @media (pointer: fine) {
      &:hover {
        transform: translate(0, -3px);
      }
    }
  }
}