@use "veriables/global";
@use "reset";
@use "rangeSlider";

#root {
  height: 100%;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 150px;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;

  a {
    color: #000000;
  }

  main {
    flex: 1 1 auto;
  }
}
._container {
  max-width: global.$maxWidthContainer;
  padding: 0 #{global.$sideIndent + px} ;
  margin: 0 auto;
}
.content {
  display: flex;
}
