.catalogSublist {
  background: #000;
  padding: 50px 30px;
  position: absolute;
  top: 0;
  left: 200px;
  height: 100%;
  width: calc(100vw - 200px);
  display: flex;
  flex-wrap: wrap;
  li {
    flex: 0 1 25%;
  }
}
.catalogSublist > li > div {
  font-weight: 900;
  margin-bottom: 10px;
}